<!DOCTYPE html>
<html>
<body>

<h2>ROOMS</h2>
<p><%= link_to "create room",rooms_path%></p>

<h2>CUSTOMERS</h2>
<p><%= link_to "create customer",customers_path%></p>

<h2>MANAGE ROOM</h2>
<p><%= link_to "checkin and checkout",allotments_path%></p>

</body>
</html>